*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content ul li {
    margin: 20px 80px;
    font-size: 30px;
    list-style: none;
    cursor: pointer;
}

.container .content .content-inner .javascript, .OOP{
    display: none;
}